.icon{

    height: 50px;
    width: 50px;
}

.table{
    width: 30% !important;
}

.frame {
    border: 1px solid #8f8880;
    width: 40%;
}

ul{
    display: table;
    margin: 0 auto;

}
ul li{
    text-align:left;
}

body  {
    background-image: url("background.jpg");
    background-color: #cccccc;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#firstdiv{
    padding-top: 100px;
}
#formdiv{
    padding-bottom: 100px;
}
h1{
    color:#81b68c;
}
p{
    color: #91b5c3;
}
.event-description:hover {
    font-size: larger;
}
#counter{
    color: #000;
    text-align: right;
}
#carouselExampleIndicators{

    height: 300px;
    width: 250px;
    align-self: center;
}
img{
    height: 300px;
    width: 250px;
}
tr th:hover {

    background-color: #b4ffd3;
}
tr td:hover {

    background-color: #b4ffd3;
}
